*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(87, 189, 130);
    font-family: 'Roboto', sans-serif;
}
button{
    background-color: rgb(110, 187, 142);
    font-size: 15px;
    color: azure;
    height: 2rem;
    border-radius: 0.5rem;
    border: 0.2rem outset azure;
    outline: none;
    text-shadow: 1px 1px 3px #000000;
    box-shadow: 2px 2px 6px #000000;
}
button:hover{
    background-color: rgb(87, 189, 130);
    color: azure;
    border: 0.2rem ridge azure;
    cursor: pointer;
}










/*****     Login Section    *****/
#login{
    width: 100%;
    padding-top: 5%;
    text-align: center;
    color: azure;
    ;
}
#welcome-text{
    margin: 0 0 7rem 0;
    font-size: 4rem;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}
#game-emoji{
    font-size: 4.5rem;
    display: inline-block;
}
#username-question{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    text-shadow: 2px 2px 5px #000000;
}
#nameinput{
    height: 2rem;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    border: 0.09rem solid azure;
    border-radius: 0.8rem 0 0 0.8rem;
    text-align: center;
    outline: none;
    box-shadow: 2px 2px 6px #000000;
}
#greetings-button{
    height: 2rem;
    width: 3.5rem;
    border-radius: 0 0.8rem 0.8rem 0;
}





















/*****     help Section    *****/
#help-section{
    background-image: url("../img/help_zlatan.png");
    background-color: rgb(87, 189, 129);
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#help-question{
    height: 100%;
    width: 100%;
    background-color: rgba(87, 189, 129, 0.521);;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
}
#help-question > p {
    font-size: 2.5rem;
    text-shadow: 0 0 8px #0000FF, 0 0 5px rgb(241, 245, 14);
    margin-top: 9rem;
}
#help-question > button{
    width: 15rem;
    height: 3rem;
    margin-top: 1rem;
}
#no-button{
    background-color:rgb(189, 90, 87);
}
#no-button:hover{
    background-color: rgb(182, 45, 41);
}
#yes-button:hover{
    background-color: rgb(30, 236, 116);
}








/*****     Instraction Section    *****/
#instraction-section{
    position: absolute;
    top: 20%;
    left: 20%;
    color: azure;
    font-size: 2.5rem;
    text-align: center;
}



/*****     Main Game Section    *****/
#game-img{
    width: 50%;
    position: static;
    top: 0%;
    left: 0%;
}

#guess-list{
    position: absolute;
    left: 45%;
    top: 10%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#guess-letter{
    color: azure;
    text-align: center;
    font-size: 2rem;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
}

#key-list{
    position: absolute;
    left: 50%;
    top: 50%;
    right: 5%;

    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.btn{
    margin: 0.2rem;
    height: 3rem;
    width: 3rem;
}

#game-over{
    font-size: x-large;
    color: azure;
    position: absolute;
    left: 35%;
    top: 3%;
}

#win-game{
    color: azure;
    position: absolute;
    top: 20%;
    left: 15%;
}
#win-img{
    position: absolute;
    top: 50%;
    left: 10%;
}







@media only screen and (max-width: 500px){
    /*****     Login Section    *****/
    #welcome-text{
        margin: 0 0 5rem 0;
        font-size: 2.5rem;
    }
    #game-emoji{
        font-size: 3rem;
    }
    #username-question{
        font-size: 1rem;
    }
    #nameinput{
        width: 50%
    }


    /*****     help Section    *****/
    #help-question > p {
        font-size: 1.7rem;
        margin-top: 10rem;
    };
    #help-section{
        background-image: url("../img/help_zlatan2.png");
        height: 400px;
    }

    /*****     Instraction Section    *****/
    #instraction-section{
    position: absolute;
    top: 5%;
    left: 5%;
    color: azure;
    font-size: 2rem;
    text-align: center;
    }

    /*****     Main Game Section    *****/
    #game-img{
        width: 100%;
        position: absolute;
        top: 7%;
        left: 0%;
    }

    #guess-list{
        position: absolute;
        left: 10%;
        top: 0%;
        list-style-type: none;
    }
    #guess-letter{
        color: azure;
        text-align: center;
        font-size: 1.5rem;
        margin-right: 1rem;
        height: 2rem;
        width: 4rem;
    }

    #key-list{
        position: absolute;
        left: 3%;
        top: 78%;
        right: 3%;

        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }
    .btn{
        margin: 0.2rem;
        height: 2rem;
        width: 2rem;
    }

    #game-over{
        font-size: x-large;
        color: azure;
        position: absolute;
        left: 35%;
        top: 3%;
    }
}
